body {
    background-color: aqua;
}

.container {
    display: grid;
    grid-template-columns: auto;
    min-width: 980px;
}

.players {
    display: flex;
    justify-content: space-evenly;
}

.player {}

.headers {
    text-align: center;
}

.user-choose {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

.btn-user {
    font-size: 60px;
    padding: 20px;
}

.game {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-start {
    font-size: 60px;
    max-width: 320px;
}

#timer {
    font-size: 40px;
}